:root {
    --bg-color: #080808;
    --second-bg-color: #101010;
    --text-color: white;
    --main-color: #ea580c;
}

.body {
    background: var(--bg-color);
    color: var(--text-color);
}
.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; /* Jarak dari atas */
}

.avatar img {
    width: 250px; /* Sesuaikan ukuran gambar */
    height: auto;
    border-radius: 50%; /* Membuat gambar menjadi bulat jika itu adalah foto profil */
    width: 32vw;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}

.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

.deskripsi {
    margin-top: 50px;
    max-width: 700px;
}